<html>
    <form action="/hasil/" method=POST>
        {% csrf_token %}
        <input id="nama" type="text" name="nama" placeholder="Masukkan nama peserta">
        <input id="kegiatan" type="text" name="kegiatan" placeholder="Masukkan jenis kegiatan">
        <button id="kirim" type="submit" name="kirim">Tambah peserta</button>
    </form>
</html>