<html>
    <p>Daftar peserta dan kegiatan</p>
    <table style="border:1;">
        <tr>
            <td>Nama peserta</td>
            <td>Kegiatan</td>
        </tr>
        {% for isi in isi_daftar_peserta %}
        <tr>
            <td>{{ isi.nama }}</td>
            <td>{{ isi.kegiatan }}</td>
        </tr>
        {% endfor %}
    </table>
   <a href='/formulir'>Kembali ke halaman utama</a>
</html>